<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AI CCTV | ADD CRIMINALS</title>
</head>
{% extends 'POLICE/Police_index.html' %}
{% block body %}
<body>
<form action="/myapp/police_add_criminals_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered">
  <tr>
    <th>Name</th>
    <td><input name="name" type="text" class="form-control" required/></td>
  </tr>

    <tr>
        <td>Gender</td>
        <td><input type="radio" name="gender" value="Male" checked/>Male<br>
        <input type="radio" name="gender" value="Female">Female<br>
        <input type="radio" name="gender" value="Other">Other<br>
        </td>
    </tr>

     <tr>
    <th>Place</th>
    <td><input name="place" type="text"  class="form-control"required/></td>
  </tr>
     <tr>
    <th>Post</th>
    <td><input name="post" type="text" class="form-control"required /></td>
  </tr>
     <tr>
    <th>Pin</th>
    <td><input name="pin" type="text" class="form-control"required  pattern="[0-9]{6}" maxlength="6" /></td>
  </tr>
     <tr>
    <th>District</th>
    <td><input name="district" type="text"  class="form-control"required/></td>
  </tr>

  <tr>
    <th>Photo</th>
    <td><input name="photo" type="file"  class="form-control"required/></td>
  </tr>
     <tr>
    <th>Photo1</th>
    <td><input name="photo1" type="file"  class="form-control"required/></td>
  </tr>
     <tr>
    <th>Photo2</th>
    <td><input name="photo2" type="file" class="form-control"required /></td>
  </tr>
  <tr>
    <th>Details</th>
    <td>
      <textarea name="details" id="details" cols="45" rows="5" class="form-control"required></textarea></td>
  </tr>
  <tr align="center">
  <td colspan="2"><input name="add" type="submit" value="Add" class="btn btn-info" /></td>

  </tr>
</table>


</form>
</body>
{% endblock %}
</html>
