<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/police_view_profile/">View profile</a><br>

<a href="/myapp/police_change_password/">change password</a><br>
<a href="/myapp/police_add_criminals/">Add Criminals</a><br>
<a href="/myapp/police_view_criminals/">View Criminals</a><br>

<a href="/myapp/police_view_registered_users/">View Registered user</a><br>


<a href="/myapp/police_add_suspicious_activity/">Add suspicious activity</a><br>
<a href="/myapp/police_suspicious_activity/">View suspicious activity</a><br>
<a href="/myapp/app_reviews/">send App review</a><br>


</body>
</html>