<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'POLICE/Police_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/police_suspicious_activity_post/">
    <table class="pull-left">
  <tr>{% csrf_token %}
    <td>From</td>
    <td>
      <input type="date" name="from" id="textfield" class="form-control"/></td>
    <td>To</td>
    <td>
      <input type="date" name="to" id="textfield2" class="form-control"/></td>
    <td><input type="submit" name="button" id="button" value="search" class="btn btn-success"/></td>
  </tr>
</table>
    <table class="table table-bordered">
  <tr>
    <td>si no </td>
    <td>date </td>
    <td>place</td>
    <td>time</td>
    <td>photo</td>
    <td>criminal info</td>
    <td>activity</td>
{#      <td></td>#}
{#      <td></td>#}
  </tr>
    {% for i in data %}
  <tr>
    <td>{{forloop.counter  }}</td>
    <td>{{ i.date }}</td>
    <td>&nbsp;{{ i.place }}</td>
    <td>&nbsp;{{ i.time }}</td>
    <td><img src="{{ i.photo }}"height="60px" width="60px"> </td>
    <td>{{ i.CRIMINAL.name }}</td>
    <td>{{ i.activity }}</td>
{#  <td><a href="/myapp/police_edit_suspicious_activity/{{ i.id }}">Edit</a> </td>#}
{#  <td><a href="/myapp/police_delete_suspicious/{{ i.id }}" onclick="return confirm('Are You Sure')">Delete</a> </td>#}
  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}
</html>
