{% extends 'POLICE/Police_index.html' %}
{% block body %}
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .password-toggle {
            position: absolute;
            top: 73%;
            right: 20px;

            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
    </head>
<div class="container">
<form method="post" action="/myapp/police_change_password_post/">
        {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 m-auto">
            <label for="inputPassword5" class="form-label">Current Password</label>
            <span class="password-toggle" onclick="togglePasswordVisibility()">
              <i class="fas fa-eye-slash" id="toggleIcon" aria-hidden="true"></i>
            </span>
            <input type="password" id="passwordInput" class="form-control" name="currentpassword" required aria-labelledby="passwordHelpBlock">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 m-auto"><br>
            <label for="inputPassword5" class="form-label">New Password</label>
            <span class="password-toggle" onclick="togglePasswordVisibility2()">
              <i class="fas fa-eye-slash" id="toggleIcon2" aria-hidden="true"></i>
            </span>
            <input type="password" id="passwordInput1" class="form-control" aria-labelledby="passwordHelpBlock" name="newpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 m-auto"><br>
            <label for="inputPassword5" class="form-label">Confirm Password</label>
            <span class="password-toggle" onclick="togglePasswordVisibility3()">
                <i class="fas fa-eye-slash" id="toggleIcon3" aria-hidden="true"></i>
            </span>

            <input type="password" id="passwordInput2" name="confirmpassword" required class="form-control" aria-labelledby="passwordHelpBlock">
        <span>{% if pass_message %}
       <p style="color: orangered;">{{ pass_message }}</p>
                               {% endif %}</span>
        </div>
    </div><br><br>
    <div class="row mt-4">
        <div class="col-lg-6 m-auto">
                <input type="submit" class="btn btn-success" value="Change">
        </div>
    </div>
    </form>
</div>
    <script>
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("passwordInput");
      var toggleIcon = document.getElementById("toggleIcon");
      if (passwordInput.type === "password") {
          passwordInput.type="text"
          toggleIcon.classList.remove("fa-eye-slash");
          toggleIcon.classList.add("fa-eye");
      } else {
          passwordInput.type = "password";
          toggleIcon.classList.remove("fa-eye");
          toggleIcon.classList.add("fa-eye-slash");
      }
    }
    function togglePasswordVisibility2() {
      var passwordInput = document.getElementById("passwordInput1");
      var toggleIcon2 = document.getElementById("toggleIcon2");


      if (passwordInput.type === "password") {
          passwordInput.type = "text";
          toggleIcon2.classList.remove("fa-eye-slash");
          toggleIcon2.classList.add("fa-eye");
      } else {
          passwordInput.type = "password";
          toggleIcon2.classList.remove("fa-eye");
          toggleIcon2.classList.add("fa-eye-slash");
      }
    }
    function togglePasswordVisibility3() {
      var passwordInput = document.getElementById("passwordInput2");
      var toggleIcon3 = document.getElementById("toggleIcon3");

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        toggleIcon3.classList.remove("fa-eye-slash");
        toggleIcon3.classList.add("fa-eye");
      } else {
        passwordInput.type = "password";
        toggleIcon3.classList.remove("fa-eye");
        toggleIcon3.classList.add("fa-eye-slash");
      }
    }
  </script>
{% endblock %}