<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/view_criminals_post/"><table width="200" border="1">
  <tr>
      {% csrf_token %}
    <td>name</td>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    <td><input type="submit" name="button" id="button" value="GO" /></td>
  </tr>
</table>
  <table width="751" height="203" border="1">
  <tr></tr>
  <tr>
    <td>sn no</td>
    <td>photo</td>
    <td>details</td>
  </tr>
       {% for i in data %}
  <tr>
    <td>{{forloop.counter  }}</td>
    <td>{{ i.photo }}</td>
    <td>{{ i.name }}<br>{{ i.details }}<br>{{ i.place }}<br>{{i.pin }}<br>{{ i.district }}</td>
      {% endfor %}
  </tr>
  </table>
</form>
</body>
</html>
