<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/myapp/add_police_post/" method="post">
    {% csrf_token %}
    <table width="416" height="346" border="1" align="center">
  <tr>
    <td>station name </td>
    <td><label for="textfield"></label>
      <input type="text" name="station name" id="textfield" /></td>
  </tr>
  <tr>
    <td>SI name </td>
    <td><label for="textfield2"></label>
      <input type="text" name="siname" id="textfield2" /></td>
  </tr>
  <tr>
    <td>place </td>
    <td><label for="textfield3"></label>
      <input type="text" name="PLACE" id="textfield3" /></td>
  </tr>
  <tr>
    <td>post</td>
    <td><label for="textfield4"></label>
      <input type="text" name="post" id="textfield4" /></td>
  </tr>
  <tr>
    <td>pin</td>
    <td><label for="textfield5"></label>
      <input type="text" name="pin" id="textfield5" /></td>
  </tr>
  <tr>
    <td>Email ID</td>
    <td><label for="textfield6"></label>
      <input type="text" name="email id" id="textfield6" /></td>
  </tr>
  <tr>
    <td>phone </td>
    <td><label for="textfield7"></label>
      <input type="text" name="phone" id="textfield7" /></td>
  </tr>
  <tr>
    <td>district</td>
    <td><label for="textfield8"></label>
      <input type="text" name="district" id="textfield8" /></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="button" id="button" value="Add" /></td>
    </tr>
</table>
</form>
</body>
</html>
