{% extends 'ADMIN/Admin_index.html' %}
{% block body %}

<div class="row">
        <form class="d-flex" role="search" method="post" action="/myapp/p_search_view_detect_det/#abc">
        <div class="col-lg-5">
                 {% csrf_token %}
            TO
              <input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" name="fdate" value="2024-03-08">
        </div>
        <div class="col-lg-5">From
              <input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" name="tdate" value="2024-03-08">
        </div>
        <div class="col-lg-2"><br>
          <button class="btn btn-success" type="submit">Search</button>
        </div><br><br>
        </form>
    </div><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <table class="table table-striped">
    <tr>
        <td>S/no</td>
        <td>Date</td>
        <td>Time</td>
        <td>Details</td>

    </tr>
   {% for i in data reversed %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.time }}</td>
        <td><img src="{{ i.photo }}" height="100px" width="100px" style="border-radius: 8px;">
            {{ i.name }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}