<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="372" height="242" align="center" border="1">
  <tr>
    <td width="104">CURRENT PASSWORD</td>
    <td width="252"><label for="textfield"></label>
      <input type="PASSWORD" name="currentpassword" id="textfield" /></td>
  </tr>
  <tr>
    <td>NEW PASSWORD</td>
    <td><label for="textfield2"></label>
      <input type="PASSWORD" name="newpassword" id="textfield2" /></td>
  </tr>
  <tr>
    <td>CONFIRM PASSWORD</td>
    <td><label for="textfield3"></label>
      <input type="PASSWORD" name="confirmpassword" id="textfield3" /></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" align="center" name="button" id="button" value="Change Password" /></td>
    </tr>
</table>
</form>
</body>
</html>
