<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="509" height="57" border="1">
  <tr>
    <td width="100">From Date</td>
    <td width="199"><label for="textfield"></label>
      <input type="text" name="from" id="textfield" /></td>
    <td width="63">To date</td>
    <td width="199"><label for="textfield2"></label>
      <input type="text" name="to" id="textfield2" /></td>
        <td width="57"><input type="submit" name="button" id="button" value="search" /></td>

  </tr>
</table>
<table width="838" height="227" border="1">
  <tr>
    <td>SI NO</td>
    <td>DATE</td>
    <td>COMPLAINT</td>
    <td>STATUS</td>
    <td>REPLY</td>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{forloop.counter  }}&nbsp;</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>{{ i.complaint }}</td>
    <td>{{ i.status }}</td>
      <td>{{ i.reply }}</td>
  </tr>
    {% endfor %}
</table>
</form
></body>
</html>
