<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/add police/">add police</a><br>
<a href="/myapp/change password/">change password</a><br>
<a href="/myapp/complaints/">complaints</a><br>
<a href="/myapp/edit police/">edit police</a><br>
<a href="/myapp/suspicious_activity/">suspicious_activity</a><br>
<a href="/myapp/suspicious_activity/">suspicious_activity</a><br>
<a href="/myapp/suspicious_activity/">suspicious_activity</a><br>
<a href="/myapp/suspicious_activity/">suspicious_activity</a><br>

</body>
</html>