<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AICCTV</title>
</head>
{% extends 'ADMIN/Admin_index.html' %}
{% block body %}
<body>
<div align="center">
    <div>
        <h1 style="font-weight: bold; background: linear-gradient(to right, #252525, #252525); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-shadow: 0px 0px 0px #000, 0px 0px 0px #252525, 0px 0px 0px #000, 0px 0px 0px #252525;">SUSPICIUS ACTIVITY</h1>
    </div>
</div><br>
<form id="form1" name="form1" method="post" action="/myapp/admin_suspicious_activity_post/">
    <table class="pull-left">
  <tr>{% csrf_token %}
    <td>From</td>
    <td>
      <input type="date" name="from" id="textfield" value="2024-01-01"/></td>
    <td>To</td>
    <td>
      <input type="date" name="to" id="textfield2" value="2024-01-01"/></td>
    <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
  </tr>
</table>
    <table class="table table-bordered">
  <tr>
    <td>SN NO</td>
    <td>DATE</td>
    <td>PLACE</td>
    <td>TIME</td>
    <td>PHOTO</td>
    <td>CRIMINAL INFO/RECORDS</td>
    <td>ACTIVITY</td>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{forloop.counter  }}</td>
    <td>{{ i.date }}</td>
    <td>&nbsp;{{ i.place }}</td>
    <td>&nbsp;{{ i.time }}</td>
    <td><img src="{{ i.photo }}"  height="60px" width="60px" alt=""/></td>
    <td>{{ i.CRIMINAL.name }}</td>
    <td>{{ i.activity }}</td>
  </tr>
    {% endfor %}
</table>

</form>
</body>{% endblock %}
</html>
