{% extends 'ADMIN/Admin_index.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <form class="d-flex" role="search" method="post" action="/myapp/p_search_view_detect_det/#abc">
            <div class="col-lg-5">
                {% csrf_token %}
                From
                <input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" name="fdate" value="2024-03-08">
            </div>
            <div class="col-lg-5">To
                <input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" name="tdate" value="2024-03-08">
            </div>
            <div class="col-lg-2">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </form>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>s/no</th>
                <th>Date</th>
                <th>Time</th>
                <th>Photo</th>
                <th>Criminal Name</th>
                <th>Police Station</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.time }}</td>
                <td><img src="{{ i.photo }}" height="100px" width="100px" style="border-radius: 8px;"></td>
                <td>{{ i.name }}</td>
                <td>{{ i.station }}</td>
                <td>{{ i.username}}<br>{{ i.place}}<br>{{ i.district }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
