{% extends 'ADMIN/Admin_index.html' %}
{% block body %}
<div align="center">
    <div>
        <h1 style="font-weight: bold; background: linear-gradient(to right, #252525, #252525); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-shadow: 0px 0px 0px #000, 0px 0px 0px #252525, 0px 0px 0px #000, 0px 0px 0px #252525;">DETECTED</h1>
    </div>
</div><br>
<div class="row">
        <form class="d-flex" role="search" method="post" action="/myapp/search_view_detect_det/#abc">

            <div class="col-lg-5">
                 {% csrf_token %}
                TO
              <input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" name="fdate">
        </div>
        <div class="col-lg-5">
            FROM
              <input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" name="tdate">
        </div>.
        <div class="col-lg-2">
          <button class="btn btn-success" type="submit">Search</button>
        </div><br><br>
        </form>
    </div>
    <table class="table table-striped">
    <tr>
        <td>SN No</td>
        <td>DATE</td>
        <td>TIME</td>
        <td>CRIMINALS</td>
        <td>POLICE STATION</td>

    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.time }}</td>
        <td><img src="{{ i.CRIMINAL.photo }}" height="100px" width="100px" style="border-radius: 8px;">
            {{ i.CRIMINAL.name }}
        </td>
        <td>{{ i.CRIMINAL.POLICE.station_name }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}