<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>AI-CCTV | LOGIN</title>
    <script src="/static/login/popupalert/popup.js"></script>
    <link rel="shortcut icon" href="/static/Home/assets/images/logotrans.png" type="image/x-icon">
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
    <link rel="stylesheet" href="/static/login/css/font-awesome.min.css" type="text/css" media="all">
     <link rel="stylesheet" href="/static/login/popupalert/alert.css" type="text/css" media="all">

</head>

<body>    <div class="w3l-signinform">

        <!-- container -->
        <div class="wrapper">
            <!-- main content -->
            <div class="w3l-form-info"><img src="/static/Home/assets/images/logotrans.png" width="100" height="100"/>
                <div class="w3_info">
                    <h1>AI-CCTV</h1>
                    <h1>Welcome Back,</h1>
                    <h2>LOG IN</h2>
                    <p class="sub-para"></p>

                {% if logout_message %}
                                  <p style="color: orangered;">{{ logout_message }}</p>
                               {% endif %}
                    <form action="/myapp/login_post/" method="post">
                        {% csrf_token %}
                        <div class="input-group" >
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="email" name="username" placeholder="Email or Username"  required="" required style="color: white;">
                        </div>
                        <div class="input-group two-groop">
                            <span><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="Password" name="password" placeholder="Password" required="" required style="color: white;">
                        </div>
                        <div class="form-row bottom">
                            <div class="form-check">
                                {% if error_message %}
                                  <p style="color: red;">{{ error_message }}</p>
                               {% endif %}
                                <input type="checkbox" id="remenber"  name="remenber" value="remenber" >
                                <label for="remenber" style="color: yellow;" > Remember me?</label>
                            </div>
                        <a href="#" class="forgot" onclick="showMessage()">Forgot password?</a>
                            <div class="modal" id="customModal"><div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                      <p>Please contact admin</p>
                         </div>
                                    </div>
                         {# a href="#" class="forgot" onclick="showMessage()">Forgot password?</a> #}  <
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Log In </button>
                    </form>

{#                    <p class="account">Don't have an account? <a href="/myapp/compsignup/">Register</a></p>#}
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->

        <!-- footer -->
    </div>

</body>

</html>